<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Maple Cafe</title>
</head>
<body>
    <h1>login</h1>
    <hr />
    <br />
    <form method="POST">
        {% csrf_token %}
        <p>
            <input name="userid" placeholder="아이디" required />
        </p>
        <p>
            <input name="userpw" placeholder="비밀번호" type="password" required />
        </p>
        <p>
            <input type="submit" value="로그인" />
        </p>
    </form>
</body>
</html>