<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"> </script> <!--script 사용을 위한 준비-->


</head>
<body>
    <div id="msg"></div><br/>
    <button id='btn'>click</button><br/>
    <button id='clrbtn'>clearBtn</button><br/>
    <input type="text" name="id" id="id"/><p/>
    <button id="searchBtn">searchBtn</button><br/>

    <button class="ajaxBtn">ajaxBtn</button><br/>
    <button class="ajaxParamBtn">ajaxParamBtn</button><br/>

    <input type="text"     name="user_id" id="user_id"/>
    <input type="password" name="user_pwd" id="user_pwd"/>

    <table border="1">
        <tr><th>ID</th><th>PWD</th></tr>
        <tbody id="tbody">
            <tr><td>yssim</td><td>yssim</td></tr>
            <tr><td>admin</td><td>admin</td></tr>
        </tbody>
    </table>

    <hr/>
    <label>제조사</label>
    <select>
        <option>선택하세요</option>
        <option>BMW</option>
        <option>AUDI</option>
        <option>BENZ</option>
    </select>

    <label>모델</label>
    <select>
        <option>선택하세요</option>
    </select>
    <script>
        obj = { id : 'multicampusID', pwd : 'multicampusPWD'}

        list = [{ id : 'multicampusID01', pwd : 'multicampusPWD01'},
                { id : 'multicampusID02', pwd : 'multicampusPWD02'}]


        $(document).ready(function() {
            $('#msg').text('페이지 로딩 시 해당 영역에 텍스트 입력')
            $('#btn').click(function () {
                param = $('#id').val()
                alert(param)
            })
            $('#clrbtn').click(function () {
                $('#msg').empty()
                $('#msg').html('<bold> Change Data </bold>')
            })

            $('.ajaxBtn').click(function () {
                //alert('ajax')
                $.ajax({
                    url : "{% url 'nonParamAjax' %}",
                    type : 'post' ,
                    data : {'csrfmiddlewaretoken' : '{{csrf_token}}'},
                    dataType : 'json' ,
                    success : function (list){
                        txt = ""
                        $.each(list, function (idx, data) {
                            txt += '<tr><td>'+data.id+'</td><td>'+data.pwd+'</td></tr>'
                        })
                        $('#tbody').empty().append(txt)
                    }
                })
            })

            $('.ajaxParamBtn').click(function () {
                //alert('ajax')
                $.ajax({
                    url : "{% url 'paramAjax' %}",
                    type : 'post' , //포스트방식
                    data : {'csrfmiddlewaretoken' : '{{csrf_token}}',
                            user_id : $('#user_id').val(),
                            user_pwd : $('#user_pwd').val() }, //보안토큰
                    dataType : 'json' ,
                    success : function (list){
                        txt = ""
                        $.each(list, function (idx, data) {
                            txt += '<tr><td>'+data.id+'</td><td>'+data.pwd+'</td></tr>'
                        })
                        $('#tbody').empty().append(txt)
                    }
                })
            })

            $('#searchBtn').click(function () {
                txt = ""
                $.each(list, function (idx, data) {
                    txt += '<tr><td>' + data.id + '</td><td>' + data.pwd + '</td></tr>'
                })
                // append(), html(), text() --val()
                $('#tbody').empty().html(txt)
                //$('#tbody').empty()
                 //alert(obj.id)
                 //alert(obj.pwd)
                 //$.each(list, function (idx, data) {
                 //    alert(idx+" , "+data.id+" , "+data.pwd)
                 //})
                })


        })
    </script>

</body>
</html>