<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div align = "center"> {{ment}} </div>
    <hr/>
    <form method="POST" action="http://localhost:8000/hello/login">
        <input type="text" name="msg">
        <input type="submit" value="send">
    </form>
    <hr/>
    <a href="http://localhost:8000/hello/baseball">야구</a></a>&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:8000/hello/football">축구</a></a>&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:8000/hello/basketball">농구</a></a>&nbsp;&nbsp;&nbsp;

</body>
</html>