<!-- *************************** MAPLE : 공통 (HEADER) START  ******************  -->
<!DOCTYPE html>
{% include 'header.html' %}
{% load static%}
{% load humanize %}
<!-- *************************** MAPLE : 공통 (HEADER) END  ******************  -->
<!--------------- MAPLE : 공통  END --------------->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/intro.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">

<!-------------------- 로그인 영역 : START ---------------------->
          <form id="loginFrm" method="POST">
            {%csrf_token%}
            <div class="form-group has-feedback">
              <!-- username이라는 변수로 ID 값 입력  -->
              <input type="text" name="username" class="form-control" placeholder="User ID"/>
            </div>

            <div class="form-group has-feedback">
              <!-- password라는 변수로 ID 값 입력  -->
              <input type="password" name="password" class="form-control" placeholder="Password"/>
            </div>
            <div class="row">
            </div>
          </form>
          </h2>
<!-------------------- 로그인 영역 : END ------------------------>
<!--------------------- 버튼 영역 : START ----------------------->
          <div class="intro-button mx-auto" align="center">
            <a class="btn btn-primary btn-xl" id="loginBtn">로그인</a>

          <div class="intro-button mx-auto" align="right">
            <a button type="button" class="btn btn-primary btn-xl" href="../registerForm" >회원가입</a>
          </div>
          </div>
<!--------------------- 버튼 영역 : END ----------------------->
        </div>
      </div>
    </div>
  </section>
<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
{% include 'footer.html' %}
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->
  <script>
    $(document).ready(function() {
      $("#loginBtn").click(function() {
        $("#loginFrm").attr('action' , '{% url 'login' %}').submit()
      })
    })
  </script>
</body>
</html>
<!--------------- MAPLE : 공통  END --------------->