<!-- *************************** MAPLE : 공통 (HEADER) START  ******************  -->

<!DOCTYPE html>
{% load static%}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MAPLE CAFE</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css'  %}" rel="stylesheet">
    <style>
        .pValueInput{
            width : 30px;
        }
        .list-table{
            width : 600px;
            text-align : center ;
        }
    </style>

</head>

<body>
  <!--------------- MAPLE : 타이틀  --------------->

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">The Best Coffee Shop in MultiCampus</span>
    <span class="site-heading-lower">MAPLE CAFE</span>
  </h1>
  <!--------------- MAPLE : 메뉴  --------------->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">MAPLE CAFE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
<!--
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
-->
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../order">주문</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../orderStatus">주문현황</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../menu">카페메뉴</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../staff">직원관리</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../salesStatus">매출현황</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- *************************** MAPLE : 공통 (HEADER) END  ******************  -->


<!-- *************************** MAPLE : 화면 START *************************  -->

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">



<!-----------------MAPLE : List START ----------------->
<!--  MAPLE:  TITLE  -->

              <h2 class="section-heading mb-4">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary"> 주문 </span>
              </h2>


 <!--  MAPLE: BUTTON  1 -->
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn1">입력</button>-->
<!--                <button type="submit" class="btn btn-primary" id="modiBtn1">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn1">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn1">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn1">저장</button>-->
              </div>

              <br>

{%if menus %}
    <!--  MAPLE: 테이블  START  -->
              <div class="container d-flex justify-content-center mt-50 mb-50">
                <div class="card w-100">
                  <div class="table-responsive">
                    <div style="width:100%; height:600px; overflow:auto ">
                    <table class="table table-hover ">
    <!-- MAPLE:  테이블 헤더   -->
                      <thead class="thead-light">
                        <tr>
                          <th> </th>
                          <th scope="col"></th>
                          <th scope="col">상품명</th>
                          <th scope="col">가격</th>
                          <th scope="col">수량</th>

                        </tr>
                      </thead>

    <!-- MAPLE:  테이블 바디  -->




{%  for menu in  menus   %}

                         {% csrf_token %}
                      <tbody>
                        <tr>
                          <td> <input  type="radio" name="radioValue" value="{{menu.menuid}}"> </td>
                          <td id="mId_{{menu.menuid}}" >{{menu.menuid}}</td>
                          <td id="mName_{{menu.menuid}}" >{{menu.menuname}}</td>
                          <td id="mPrice_{{menu.menuid}}">{{menu.price}}</td>
                          <td class="pValue" id="pValue_{{menu.menuid}}">

                              <input class="pValueInput" id="pValueInput_{{menu.menuid}}" type="text"  placeholder="" />

                          </td>

                        </tr>
{%    endfor    %}

                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
    <!--  MAPLE: 테이블  END -->

 {% else %}
       <p>  데이터가 존재하지 않습니다. </p>
 {% endif %}

<!--  MAPLE: BUTTON  2 -->
              <br>
              <div class="intro-button" align="right">
                <button type="submit" class="btn btn-primary" id="inputBtn2">입력</button>
<!--                <button type="submit" class="btn btn-primary" id="modiBtn2">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn2">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn2">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn2">저장</button>-->
              </div>
              <br>


<!-----------------MAPLE : List END ----------------->
</br>

<!-----------------MAPLE : Detail START ----------------->
<!--  MAPLE:  TITLE  -->
              <h2 class="section-heading mb-4">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary" > 상품정보 </span>
              </h2>

<!--  MAPLE:  INPUT  -->
              <section class="content">
                <div class="row">
                <!-- left column -->
                  <div class="col-md-12">
                  <!-- general form elements -->
                    <div class="box box-primary">
                    <!-- /.box-header -->

                      <form id="regForm"  method="post">
                      {% csrf_token %}

                        <div class="box-body">
                          <div class="form-group">
                            <table class="list-table">
                                <colgroup>
                                    <col width="5%">
                                    <col width="40%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>메뉴</th>
                                        <th>가격</th>
                                        <th>수량</th>
                                        <th>금액</th>


                                    </tr>
                                </thead>
                                <tbody id="list-body">
                                    <tr >
                                        <input type="hidden" name="menuId" id="menuId" value="3"  >
                                        <input type="hidden" name="orderNo" id="orderNo"  value="5">
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <div class="amount">
                                <span>합계</span>
                                <span id="amount">0</span>
                            </div>
                            <div onload="time()">
                              <span id="now"></span>
                            </div>
                          </div>


                          <!--   업데이트 구분 : ( Y: 수정 , N:신규        -->
                          <input type="hidden" name="updateYn" id="updateYn"  value="N">

                        </div>
                        <!-- /.box-body -->
                      </form>


                    </div>
                            <!-- /.box -->
                  </div>
                        <!--/.col (left) -->
                </div>
                    <!-- /.row -->
              </section>

<!--  MAPLE: BUTTON  3 -->
              <br>
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn3">입력</button>-->
<!--                <button type="submit" class="btn btn-primary" id="modiBtn3">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn3">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn3">조회</button>-->
                <button type="submit" class="btn btn-primary" id="modiBtn2">수정</button>
                <button type="submit" class="btn btn-primary" id="delBtn2">삭제</button>
                <button type="submit" class="btn btn-primary" id="saveBtn3">저장</button>
              </div>
              <br>
<!-----------------MAPLE : Detail END ----------------->



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





<!-- *************************** MAPLE : 화면 END ***************************  -->

<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->


<script>
    //---------------------시간---------------------
    function time(){
      var time= new Date();
      document.getElementById("now").innerHTML=time.getFullYear()+"-"+time.getMonth()+"-"+time.getDate()+" "+time.getHours()+":"+time.getMinutes()+":00";

      setInterval("time()",1000);
    }
    time();

	$(document).ready(function(){

	    var sum = 0
        $('#inputBtn2').click(function(){
            var checkbox = $("[name=radioValue]:checked");
            var ckVal = checkbox.val()
            var tdArr = new Array()

            if (ckVal == null){
                alert("항목을 선택해라")
            }else{

                var tr = $('<tr></tr>')
                var input = $('<input/>')
                input.attr('type', 'checkbox')

                input.attr('class', 'btn-chk')
                var td00 = $('<td></td>');
                td00.append(input);
                tr.append(td00);

                var td01 = $('<input/>');
                td01.append($('#mName_'+ckVal).text());
                //td01.attr('id','mName')
                td01.attr('name','mName')
                td01.val(td01.text())
                tr.append(td01);


                var td02 = $('<input/>');
                td02.append($('#mPrice_'+ckVal).text());
                //td02.attr('id','mPrice')
                td02.attr('name','mPrice')
                td02.val(td02.text())
                tr.append(td02);


                var td03 = $('<input/>');
                td03.append($('#pValueInput_'+ckVal).val());
                //td03.attr('id','mValue')
                td03.attr('name','mValue')
                td03.val(td03.text())
                tr.append(td03);


                var td04 = $('<input/>');
                var amount = parseInt($('#mPrice_'+ckVal).text())*parseInt($('#pValueInput_'+ckVal).val())
                td04.append(amount);
                td04.val(td04.text())
                tr.append(td04);
                $('#list-body').append(tr);



                $('#menuId').val($('#mId_'+ckVal).text());


                $('#orderNo').val('M1000000');



                sum += amount

                $('#amount').text(sum)
           }

        });



         //----------------------------------
         // 저장
         //----------------------------------
        $('#saveBtn3').click(function(){

            var check = $("[class=btn-chk]:checked");
            var ckVa = check.val()


            if (ckVa == null){
                alert("항목을 선택해라")
            }else{


                 $('#regForm').attr('action' , "{% url 'saveOrder' %}")
                 $('#regForm').submit() ;
             }
       })

         //----------------------------------
         // 메뉴삭제
         //----------------------------------
<!--	     $('#delBtn2').click(function(){-->
<!--	         //alert("!삭제버튼") ;-->
<!--             var checkbox = $("[name=radioValue]:checked");-->
<!--			 var ckVal= checkbox.val()-->
<!--             //alert( $('#mName_'+ckVal).text() )-->

<!--             // 선택된 버튼이 없으면 메세지-->
<!--             if (ckVal == null){-->
<!--                 alert('! 삭제할 항목을 선택해 주세요.  ')-->
<!--             }else{-->
<!--                 $('#mId').val( ckVal  );-->
<!--                 $('#regForm').attr('action' , "{% url 'deletemenu' %}")-->
<!--                 $('#regForm').submit() ;-->

<!--             }-->
<!--		 })-->
    $('#delBtn2').click(function(){
        var $obj = $("input[class='btn-chk']")

        var checkCount = $obj.length

        for (var i=0; i<checkCount; i++){
            if($obj.eq(i).is(":checked")){
                sum = 0
                $('#amount').text(sum)
                console.log($obj.eq(i).children())
                console.log($obj.eq(i).parent().children())
                console.log($obj.eq(i))

                $obj.eq(i).parent().parent().remove();
                   }
            }
        })

	})

</script>