<!-- *************************** MAPLE : 공통 (HEADER) START  ******************  -->
{% include 'header.html' %}
{% load static %}
{% load humanize %}


<!-- *************************** MAPLE : 화면 START *************************  -->

  <section class="page-section about-heading ">
    <div class="container mt-3">
      <!-- <img class="rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt=""> -->
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-0">

<!-- *************************** ORDER LIST  START  ****************** -->
      			  <div class='card'>
				        <div class="card-header">
					        <h3 class="card-title" style="height: 15px;">주문 현황</h3>
				        </div>
				        <div class='card-body d-flex p-1'>
                  <form action="{% url 'order_search' %}" method="GET" >
                    <div class="input-field">
                      <select id="select_type" name="s_type" style="height:30px;width: 100px;" >
                        <option value="id">주문번호</option>
                        <option value="content">주문내용</option>
                        <option value="status">상    황</option>
                      </select>
                      <span id="select_option">
                        <input  class="p-md-1" id='SearchKeyword' type="text" name="s_keyword" value="{{ request.GET.s_keyword }}" style="width:150px;height:30px;" placeholder="검색 키워드...">
                      </span>
                      &nbsp;&nbsp;&nbsp;
                      <button  class="btn btn-outline-primary font-weight-bold" style="width: 80px;font-size:14px;height: 32px;" type="submit" name="action">검   색</button>
                    </div>
                  </form>
				        </div>
			        </div>

			        <div class="container mt-50 mb-50 p-lg-1">
                <div class="card w-100">
                  <div>
                    <div style="width:100%; height:400px; overflow-y:hidden;">

                      <table class="table table-bordered" style="text-align: center;line-height: 0.8em;">
                        <thead >
                            <th style="width:12%">주문번호</th>
                            <th style="width:40%">메뉴명</th>
                            <th style="width:10%">가격</th>
                            <th style="width:10%">결제</th>
                            <th style="width:8%">수량</th>
                            <th style="width:10%">시간</th>
                            <th style="width:10%">상황</th>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr style="font-size:14px;vertical-align:middle">
                                <td>{{ order.orderno }}</td>
                                <td style="text-align:left;">{{ order.menuname }}</td>
                                <td style="text-align:right">{{ order.total_price | intcomma }}</td>
                                {% if order.payment == 'cash' %}
                                <td>현금</td>
                                {% else %}
                                <td>카드</td>
                                {% endif %}
                                <!-- <td>{{ order.payment }}</td> -->
                                <td>{{ order.total_qty }}</td>
                                <td>{{ order.time }}</td>
                                {% if order.status == 'ord' %}
                                <td>주문</td>
                                {% elif order.status == 'prep' %}
                                <td>준비중</td>
                                {% else %}
                                <td>완료</td>
                                {% endif %}
                                <!-- <td>{{ order.get_status_display }}</td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!--Pagination-->
                    <!-- page number 외에 검색시 넘겨준 parameters을 추가로 넣어 줌 -->
                    <div class="pagination justify-content-center">
                      <span class="step-links">
                          {% if orders.has_previous %}

                              {% if s_type and s_keyword %}
                                <a href="?page=1&s_type={{ s_type}}&s_keyword={{ s_keyword}}">&laquo; &nbsp;</a>
                                <a href="?page={{ orders.previous_page_number }}&s_type={{ s_type}}&s_keyword={{ s_keyword }}">&lt;</a>
                              {% elif s_type and s_option %}
                                <a href="?page=1&s_type={{ s_type}}&s_option={{ s_option}}">&laquo; &nbsp</a>
                                <a href="?page={{ orders.previous_page_number }}&s_type={{ s_type}}&s_option={{ s_option }}">&lt;</a>
                              {% else %}
                                <a href="?page=1">&laquo; &nbsp;</a>
                                <a href="?page={{ orders.previous_page_number }}">&lt; &nbsp;</a>
                              {% endif %}
                          {% endif %}

                          <span class="current">
                              Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                          </span>

                          {% if orders.has_next %}
                            {% if s_type and s_keyword  %}
                              <a href="?page={{ orders.next_page_number }}&s_type={{ s_type}}&s_keyword={{ s_keyword}}">&gt;&nbsp</a>
                              <a href="?page={{ orders.paginator.num_pages }}&s_type={{ s_type}}&s_keyword={{ s_keyword}}"> &raquo;</a>
                            {% elif s_type and s_option %}
                              <a href="?page={{ orders.next_page_number }}&s_type={{ s_type}}&s_option={{ s_option }}">&gt;&nbsp</a>
                              <a href="?page={{ orders.paginator.num_pages }}&s_type={{ s_type}}&s_option={{ s_option }}">&raquo;</a>
                            {% else %}
                            <a href="?page={{ orders.next_page_number }}">&gt;&nbsp</a>
                            <a href="?page={{ orders.paginator.num_pages }}">&raquo;</a>
                            {% endif %}
                          {% endif %}
                      </span>
                  </div>


                    </div>
                  </div>
                </div>
              </div>
<!-- *************************** ORDER LIST  END  ******************-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- *************************** MAPLE : 화면 END ***************************  -->

<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
{% include 'footer.html' %}
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->

  <!-- ORDER LIST SCRIPT -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script>
    $(document).ready(function(){

      // Search type에 따라 kerword 입력 란 또는 select option을 보여줄 지 결정
      $('#select_type').change(function(){
        select_type = $(this).val();
        if (select_type == 'status') {
          txt = "<select name='s_option' style='width:150px;height:6vh;'><option value='ord'>주문</option><option value='prep'>준비중</option>" +
                "<option value='done'>완료</option></select>"
          $('#select_option').empty().html(txt)
        }
        else {
          txt = "<input class='p-md-1' id='SearchKeyword' type='text' name='s_keyword' value='{{ request.GET.s_keyword }}' style='width:150px' placeholder='검색 키워드'>"
          $('#select_option').empty().html(txt)
        }
      })
    })
  </script>

</body>

</html>