<!-- *************************** MAPLE : 공통 (HEADER) START  ******************  -->
<!DOCTYPE html>
{% include 'header.html' %}
{% load static%}
{% load humanize %}
<!-- *************************** MAPLE : 공통 (HEADER) END  ******************  -->
<!--------------- MAPLE : 공통  END --------------->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/intro.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
<!-------------------- 회원가입 영역 : START ---------------------->
          <form id="registerFrm" method="POST">
            {% csrf_token %}
            <div class="form-group has-feedback">
            아이디
              <!-- new_id라는 변수로 신규 ID 값 입력  -->
              <input type="text" name="new_id" class="form-control" placeholder="Input your ID"/>
            </div>
            <div class="form-group has-feedback">
            비밀번호
              <!-- new_pwd라는 변수로 신규 ID 값 입력  -->
              <input type="password" name="new_pwd" class="form-control" placeholder="Input your Password"/>
            </div>
            <div class="form-group has-feedback">
            이메일
              <!-- new_mail이라는 변수로 신규 ID 값 입력  -->
              <input type="text" name="new_mail" class="form-control" placeholder="Input your E-mail"/>
            </div>
              <input class="btn btn-primary" id="registerBtn" value="Sign up!">
            <div class="row">
            </div>
          </form>
          </h2>
<!-------------------- 회원가입 영역 : END ---------------------->
        </div>
      </div>
    </div>
  </section>
<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
{% include 'footer.html' %}
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->
  <script>
    $(document).ready(function() {
      $("#registerBtn").click(function() {
        $("#registerFrm").attr('action' , '{% url 'register' %}').submit()
      })
    })
  </script>
</body>
</html>