<!DOCTYPE html>
{% load static%}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MAPLE CAFE</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css'  %}" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">The Best Coffee Shop in MultiCampus</span>
    <span class="site-heading-lower">MAPLE CAFE</span>
  </h1>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/intro.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">


          <form id="loginFrm" method="POST">
            {%csrf_token%}
            <div class="form-group has-feedback">
              <!-- username이라는 변수로 ID 값 받기 -->
              <input type="text" name="username" class="form-control" placeholder="User ID"/>
            </div>
            <div class="form-group has-feedback">
              <!-- password라는 변수로 password 값 받기 -->
              <input type="password" name="password"  id="password" class="form-control" placeholder="Password"/>
            </div>
          </form>
          </h2>
          <div class="intro-button mx-auto d-flex justify-content-end" style="top: 11rem">
            <a class="btn btn-primary" id="loginBtn" style="padding-top:10px;width:100px;height:50px">로그인</a>

            <a class="btn btn-primary" style="padding-top:10px;width:100px;height:50px;margin-left:10px;margin-right:20px;" href="../registerForm" >회원가입</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--------------- MAPLE : 공통  START --------------->
<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
{% include 'footer.html' %}
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->
<!-- ***********버튼 동작에 따른 데이터 submit 영역 START *********** -->
  <script>
    $(document).ready(function() {
      $("#password").keydown(function(key) {
        if (key.keyCode == 13) {
         $("#loginBtn").click()
        }
      });

      $("#loginBtn").click(function() {
<!--        $("#loginFrm").attr('action' , '{% url 'login' %}').submit()-->
        var formData = $('#loginFrm').serialize();
        $.ajax({
            cache : false,
            url : "{% url 'loginCheck' %}" ,
            type : 'POST',
            data : formData,
            success : function(data){
                var result = data['result']
                var login = data['login']
                if (login=='Y') {
                   $("#loginFrm").attr('action' , '{% url 'order' %}').submit()
                }else{
                   alert(result);
                }
            },
            error : function(xhr,status,)
            {
                alert("통신 실패");
            },
        });


      })
    })
  </script>
<!-- ***********버튼 동작에 따른 데이터 submit 영역 END *********** -->
</body>
</html>
<!--------------- MAPLE : 공통  END --------------->