


<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
{% load static%}
  <footer class="footer text-faded text-center py-2">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->