<!-- *************************** MAPLE : 공통 (HEADER) START  ******************  -->

<!DOCTYPE html>
{% load static%}
{% load humanize %}
{% include 'header.html' %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MAPLE CAFE</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css'  %}" rel="stylesheet">
    <style>
        .pValueInput{
            width : 30px;
        }

        .list-table{
            width : 751px;
            text-align : center ;
            border: solid 3px #ecf0f1;
            margin-left : 12px ;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;
        }
        .list-body{
            text-align : center ;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;
        }

        #inputBtn2{
            margin-right : 15px ;
        }
        #saveBtn3{
            margin-right : 15px ;
        }
        #hname{
            width : 100%;
            text-align : center;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;
        }
        #hprice{
            width : 100%;
            text-align : center;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;
        }
        #hqty{
            width: 100%;
            text-align : center;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;

        }
        #hamount{

            //border-right-width: 2em;
            text-align : center;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;
        }
        .amount{
            display : inline;
            margin-left : 513px;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;
        }
        #payment{
            margin-left : 15px;
            font-weight : bold;
            font-family: Lora;
            color : #495057 ;
        }





    </style>

</head>




<!-- *************************** MAPLE : 화면 START *************************  -->

  <section class="page-section about-heading">
    <div class="container">
<!--      -->
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-4">



<!-----------------MAPLE : List START ----------------->
<!--  MAPLE:  TITLE  -->

              <h2 class="section-heading mb-1">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary"> 주문 </span>
              </h2>


 <!--  MAPLE: BUTTON  1 -->
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn1">입력</button>-->
<!--                <button type="submit" class="btn btn-primary" id="modiBtn1">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn1">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn1">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn1">저장</button>-->
              </div>

              <br>

{%if menus %}
    <!--  MAPLE: 테이블  START  -->
              <div class="container d-flex justify-content-center mt-50 mb-50">
                <div class="card w-100">
                  <div class="table-responsive">
                    <div style="width:100%; height:330px; overflow:auto ">
                    <table class="table table-hover ">
    <!-- MAPLE:  테이블 헤더   -->
                      <thead class="thead-light">
                        <tr>
                          <th> </th>
                          <th scope="col"></th>
                          <th scope="col">상품명</th>
                          <th scope="col">가격</th>
                          <th scope="col">수량</th>
                        </tr>
                      </thead>

    <!-- MAPLE:  테이블 바디  -->




{%  for menu in  menus   %}

                         {% csrf_token %}
                      <tbody>
                        <tr>
                          <td> <input  type="radio" name="radioValue" value="{{menu.menuid}}"> </td>
                          <td id="mId_{{menu.menuid}}" >{{menu.menuid}}</td>
                          <td id="mName_{{menu.menuid}}" >{{menu.menuname}}</td>
                          <td id="mPrice_{{menu.menuid}}">{{menu.price | intcomma }}</td>
                          <td class="pValue" id="pValue_{{menu.menuid}}">

                              <input class="pValueInput" id="pValueInput_{{menu.menuid}}" type="text"  placeholder="" />

                          </td>

                        </tr>
{%    endfor    %}

                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
    <!--  MAPLE: 테이블  END -->

 {% else %}
       <p>  데이터가 존재하지 않습니다. </p>
 {% endif %}

<!--  MAPLE: BUTTON  2 -->
              <br>
              <div class="intro-button" align="right">
                <button type="submit" class="btn btn-primary" id="inputBtn2">입력</button>
<!--                <button type="submit" class="btn btn-primary" id="modiBtn2">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn2">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn2">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn2">저장</button>-->
              </div>



<!-----------------MAPLE : List END ----------------->
</br>

<!-----------------MAPLE : Detail START ----------------->
<!--  MAPLE:  TITLE  -->
              <h2 class="section-heading mb-4">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary" > 주문내역 </span>
              </h2>

<!--  MAPLE:  INPUT  -->
              <section class="content">
                <div class="row">
                <!-- left column -->
                  <div class="col-md-12">
                  <!-- general form elements -->
                    <div class="box box-primary">
                    <!-- /.box-header -->

                      <form id="regForm"  method="post">
                      {% csrf_token %}

                        <div class="box-body">
                          <div class="form-group">
                            <table class="list-table">
                                <colgroup>
                                    <col width="5%">
                                    <col width="40%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>메뉴</th>
                                        <th>가격</th>
                                        <th>수량</th>
                                        <th>금액</th>
                                    </tr>
                                </thead>
                                <tbody id="list-body"></tbody>

                            </table>
                            <br>
                            <div class="btn-box">
                                <select name="payment" id="payment" >
                                    <option value="">--결제방법--</option>
                                    <option value="card">카드</option>
                                    <option value="cash">현금</option>
                                </select>
                                <div class="amount">
                                    <span>합계</span>
                                    <span id="amount"></span>
                                </div>
                            </div>


                          </div>


                          <!--   업데이트 구분 : ( Y: 수정 , N:신규        -->
                          <input type="hidden" name="updateYn" id="updateYn"  value="N">

                        </div>
                        <!-- /.box-body -->
                      </form>


                    </div>
                            <!-- /.box -->
                  </div>
                        <!--/.col (left) -->
                </div>
                    <!-- /.row -->
              </section>

<!--  MAPLE: BUTTON  3 -->
              <br>
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn3">입력</button>-->
<!--                <button type="submit" class="btn btn-primary" id="modiBtn3">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn3">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn3">조회</button>-->

                <button type="submit" class="btn btn-primary" id="delBtn2">삭제</button>
                <button type="submit" class="btn btn-primary" id="saveBtn3">저장</button>
              </div>
              <br>
<!-----------------MAPLE : Detail END ----------------->



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





<!-- *************************** MAPLE : 화면 END ***************************  -->




{% include 'footer.html' %}
<script>

     <!--    콤마 제거 후 int 변환하는 함수
    // 이게 없으면 콤마형식의 가격과 수량의 연산x, price값이 서버로 안 넘어감(number로 지정됨)  -->
    function removeComma(str){
        n = parseInt(str.replace(/,/g,""));
        return n;
    }

	$(document).ready(function(){
	    var sum = 0
        $('#inputBtn2').click(function(){
            var checkbox = $("[name=radioValue]:checked");
            var ckVal = checkbox.val()
            var tdArr = new Array()

            if (ckVal == null){
                alert("항목을 선택하시오")
            }else{
                <!--         체크박스               -->
                var tr = $('<tr></tr>')
                var input = $('<input/>')
                input.attr('type', 'checkbox')
                input.attr('name', 'btn-chk')
                input.attr('value',$('#mId_'+ckVal).text())
                var td00 = $('<td></td>');
                td00.append(input);
                tr.append(td00);

                <!--  hidden 추가 (메뉴아이디)        -->
                var hdMid = $('<input/>')
                hdMid.attr('type', 'hidden')
                hdMid.attr('name', 'hmid[]')
                hdMid.attr('value',$('#mId_'+ckVal).text() )
                tr.append(hdMid)

                <!--         메뉴               -->
                var td01 = $('<td></td>');
                var hdName = $('<input/>')
                hdName.attr('id', 'hname')
                hdName.attr('name', 'hname[]')

                hdName.attr('value',$('#mName_'+ckVal).text() )
                td01.append(hdName);
                tr.append(td01)

                <!--         가격             -->
                var hdPrice = $('<input/>')
                var td02 = $('<td></td>');
                hdPrice.attr('id', 'hprice')
                hdPrice.attr('name', 'hprice[]')
                hdPrice.attr('value',removeComma($('#mPrice_'+ckVal).text()) )
                td02.append(hdPrice);
                tr.append(td02)

                <!--          수량            -->
                var hdQty = $('<input/>')
                var td03 = $('<td></td>');
                td03.append(hdQty);
                hdQty.attr('id', 'hqty')
                hdQty.attr('name', 'hqty[]')
                hdQty.attr('value',$('#pValueInput_'+ckVal).val() )
                tr.append(td03)

                <!--         주문합계          -->
                var hdAmount = $('<input/>');
                var td04 = $('<td></td>');
                td04.append(hdAmount);
                hdAmount.attr('id','hamount')
                hdAmount.attr('name','hamount[]')
                var amount = removeComma($('#mPrice_'+ckVal).text())*parseInt($('#pValueInput_'+ckVal).val())
                hdAmount.append(amount);

                hdAmount.val(amount)
                tr.append(td04);
                $('#list-body').append(tr);

                <!--    합계누적               -->
                sum += amount
                $('#amount').text(sum)

<!--                $('#amount').attr('name','amount[]')-->
<!--                $('#amount').attr('value','sum)-->

                 <!--  hidden 결제방법         -->
                var hdSum = $('<input/>')
                hdSum.attr('type','hidden')
                hdSum.attr('name','hsum[]')
                console.log($('#amount').text())
                hdSum.attr('value',$('#amount').text())

                tr.append(hdSum)


                 <!--  hidden 결제방법         -->
                var hdPay = $('<input/>')
                hdPay.attr('type','hidden')
                hdPay.attr('value',$('#payment').val())
                tr.append(hdPay)

                 <!--  hidden 주문상태         -->
                var hdStat = $('<input/>')
                hdStat.attr('type','hidden')
                hdStat.attr('name', 'hstat')
                hdStat.attr('value','done')
                tr.append(hdStat)

                $('#td01').attr("readonly",true)


           }
        });

     //----------------------------------
     // 저장
     //----------------------------------
    $('#saveBtn3').click(function(){
        var check = $("[name=btn-chk]:checked");
        var ckVa = check.val()

        if (ckVa == null){
            alert("항목을 선택하시오")
        }else{
             $('#regForm').attr('action' , "{% url 'saveOrder' %}")
             $('#regForm').submit() ;
         }
   })

    <!--	주문내역 삭제	 -->
    $('#delBtn2').click(function(){
        var $obj = $("input[name='btn-chk']")
        var check = $("[name=btn-chk]:checked");
        var ckVa = check.val()
        var checkCount = $obj.length

        for (var i=0; i<checkCount; i++){
            if($obj.eq(i).is(":checked")){
                amount_a = removeComma($('#mPrice_'+ckVa).text())*parseInt($('#pValueInput_'+ckVa).val())
                console.log(amount_a)
                sum-= amount_a
                console.log(sum)
                $('#amount').text(sum)
                $obj.eq(i).parent().parent().remove();
                }
            }
        })
	})

</script>