<!-- *************************** MAPLE : 공통 (HEADER) START  ******************  -->
{% include 'header.html' %}
{% load static %}
{% load humanize %}

<style>
.mytable tr td {
  vertical-align:middle;
  padding: 5px;

  font-weight : bold;
  font-family: Lora;
  color : #495057 ;
}
.align-items-center{
    padding-left : 4px;
}


thead{
    background-color : #e9ecef;
}




</style>
<!-- *************************** MAPLE : 화면 START *************************  -->

  <section class="page-section about-heading">
    <div class="container-fluid mt-3">
      <!-- <img class="rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt=""> -->
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-lg-8 mx-auto">
            <div class="bg-faded rounded p-4">

<!-- *************************** ORDER LIST  START  ****************** -->
      			  <div >
				        <div class="d-flex align-items-center" style="height: 40px;">
                  <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
					        <div  style="font-size: 2rem;margin-left: 15px; color:#e6a756!important;">주문 현황</div>
				        </div>
				        <div class='card-body p-0'>
                            <br>
                  <form action="{% url 'order_search' %}" method="GET" >
                    <div class=" align-items-center" style="vertical-align:middle;">
                      <select id="select_type" name="s_type" style="width: 100px;height:32px;" >
                        <option value="id">주문번호</option>
                        <option value="content">주문내용</option>
                        <option value="status">상    황</option>
                      </select>
                      &nbsp;
                      <span id="select_option">
                        <input  class="p-md-1" style="width: 150px;height:32px;" id='SearchKeyword' type="text" name="s_keyword" value="{{ request.GET.s_keyword }}" placeholder="검색 키워드">
                      </span>
                      &nbsp;&nbsp;&nbsp;
                      <button  class="btn btn-outline-primary font-weight-bold" style="width: 80px;;height:32px;font-size:14px;" type="submit" name="action">검&nbsp;&nbsp;&nbsp;색</button>
                    </div>
                  </form>
				        </div>
			        </div>

              <!-- 화면 폭을 채우기 위해 container-fluid 를 사용 -->
			        <div class="container-fluid h-100 mt-50 mb-50 p-lg-1">
                <div class="card w-100">
                  <div>
                    <div style="width:100%; overflow-y:hidden;">
                    <!-- ysc 20210215 form 추가                    -->
                    <form id="regForm"  method="post" action="{% url 'change_status' %}"  type="submit"   >
                    {% csrf_token %}
                      <table class="table table-bordered mytable" style="text-align: center;">
                        <thead >
                            <th style="width:10%">주문번호</th>
                            <th style="width:35%">메뉴명</th>
                            <th style="width:7.5%">가격</th>
                            <th style="width:7.5%">결제</th>
                            <th style="width:7.5%">수량</th>
                            <th style="width:12.5%">날짜</th>
                            <th style="width:10%">시간</th>
                            <th style="width:10%">상황</th>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr >
                                <td>{{ order.orderno }}</td>
                                <td style="text-align:left;">{{ order.menuname }}</td>
                                <td style="text-align:right">{{ order.total_price | intcomma }}</td>
                                {% if order.payment == 'cash' %}
                                <td>현금</td>
                                {% else %}
                                <td>카드</td>
                                {% endif %}
                                <!-- <td>{{ order.payment }}</td> -->
                                <td>{{ order.total_qty }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.time }}</td>
                                {% if order.status == 'ord' %}
                                <td>주문</td>
                                {% elif order.status == 'prep' %}
                                <td>준비중 <button type="button" class=" intro-button btn-sm " name="statusBtn" id="statusBtn"  type="submit"  >완료</button> </td>
                                <input type="hidden"  name="orderno" id="orderno"  value="{{ order.orderno }}">
                                {% else %}
                                <td>완료</td>
                                {% endif %}
                                <!-- <td>{{ order.get_status_display }}</td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      </form>
                      <!--Pagination-->
                      <!-- page number 외에 검색시 넘겨준 parameters을 추가로 넣어 줌 -->
                      <div class="pagination justify-content-center">
                        <span class="step-links">
                          {% if orders.has_previous %}

                              {% if s_type and s_keyword %}
                                <a href="?page=1&s_type={{ s_type}}&s_keyword={{ s_keyword}}">&laquo; &nbsp;</a>
                                <a href="?page={{ orders.previous_page_number }}&s_type={{ s_type}}&s_keyword={{ s_keyword }}">&lt;</a>
                              {% elif s_type and s_option %}
                                <a href="?page=1&s_type={{ s_type}}&s_option={{ s_option}}">&laquo; &nbsp</a>
                                <a href="?page={{ orders.previous_page_number }}&s_type={{ s_type}}&s_option={{ s_option }}">&lt;</a>
                              {% else %}
                                <a href="?page=1">&laquo; &nbsp;</a>
                                <a href="?page={{ orders.previous_page_number }}">&lt; &nbsp;</a>
                              {% endif %}
                          {% endif %}

                          <span class="current">
                              Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                          </span>

                          {% if orders.has_next %}
                            {% if s_type and s_keyword  %}
                              <a href="?page={{ orders.next_page_number }}&s_type={{ s_type}}&s_keyword={{ s_keyword}}">&gt;&nbsp</a>
                              <a href="?page={{ orders.paginator.num_pages }}&s_type={{ s_type}}&s_keyword={{ s_keyword}}"> &raquo;</a>
                            {% elif s_type and s_option %}
                              <a href="?page={{ orders.next_page_number }}&s_type={{ s_type}}&s_option={{ s_option }}">&gt;&nbsp</a>
                              <a href="?page={{ orders.paginator.num_pages }}&s_type={{ s_type}}&s_option={{ s_option }}">&raquo;</a>
                            {% else %}
                            <a href="?page={{ orders.next_page_number }}">&gt;&nbsp</a>
                            <a href="?page={{ orders.paginator.num_pages }}">&raquo;</a>
                            {% endif %}
                          {% endif %}
                        </span>
                      </div>
                      <!-- 화면 사이즈가 줄더라도 paging number가 보이기 하기 위해 <br/>을 추가 -->
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
<!-- *************************** ORDER LIST  END  ******************-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- *************************** MAPLE : 화면 END ***************************  -->

<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
{% include 'footer.html' %}
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->

  <!-- ORDER LIST SCRIPT -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script>
    $(document).ready(function(){

      // Search type에 따라 kerword 입력 란 또는 select option을 보여줄 지 결정
      $('#select_type').change(function(){
        select_type = $(this).val();
        if (select_type == 'status') {
          txt = "<select name='s_option' style='width:150px;height:32px;'><option value='ord'>주문</option><option value='prep'>준비중</option>" +
                "<option value='done'>완료</option></select>"
          $('#select_option').empty().html(txt)
        }
        else {
          txt = "<input class='p-md-1' style='width:150px;height:32px;' id='SearchKeyword' type='text' name='s_keyword' value='{{ request.GET.s_keyword }}'  placeholder='검색 키워드'>"
          $('#select_option').empty().html(txt)
        }
      })

     <!-- ysc 20210115 주문상태 변경 : 완료   -->
     $('#statusBtn').click(function(){
         $('#regForm').attr('action' , "{% url 'change_status' %}")
         $('#regForm').submit() ;
     })

    })
  </script>
