{% include 'header.html' %}
{% load static%}
{% load humanize %}

<!-- *************************** MAPLE : 화면 START *************************  -->
  <section class="page-section about-heading">
    <div class="container">
<!--      -->
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-4">


<!-----------------MAPLE : Detail START ----------------->
<!--  MAPLE:  TITLE  -->
              <h2 class="section-heading mb-1">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary" > 직원관리 </span>
              </h2>


 <!--  MAPLE: BUTTON  1 -->
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn1">입력</button>-->
<!--                <button type="submit" class="btn btn-primary" id="modiBtn1">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn1">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn1">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn1">저장</button>-->
              </div>

              <br>


    <!--  MAPLE: 테이블  START  -->
              <div class="container d-flex justify-content-center mt-50 mb-50">
                <div class="card w-100">

                  <div class="table-responsive">
                    <div style="width:100%; height:350px; overflow:auto ">
                    <table class="table table-hover " >
    <!-- MAPLE:  테이블 헤더   -->
                      <thead class="thead-light">
                        <tr>

                          <th scope="col">NO.</th>
                          <th scope="col">ID</th>
                          <th scope="col">이름</th>
                          <th scope="col">직급</th>
                          <th scope="col">입사일자</th>
                          <th scope="col">전화번호</th>
                        </tr>
                      </thead>

    <!-- MAPLE:  테이블 바디  -->







                      <tbody id="staff_table">
                          {% for Staff in staffs %}
                          <tr>

                            <td>{{Staff.id}}</td>
                            <td>{{Staff.staffid}}</td>
                            <td>{{Staff.staffname}}</a></td>
                            <td>{{Staff.jobtitle}}</td>
                            <td>{{Staff.startdate|date:'Y-m-d'}}</td>
                            <td>{{Staff.phone}}</td>
                            </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
    <!--  MAPLE: 테이블  END -->


<!--  MAPLE: BUTTON  2 -->
              <br>
              <div class="intro-button" align="right">
                <button type="submit" class="btn btn-primary" id="inputBtn2">추가</button>
                <button type="submit" class="btn btn-primary" id="saveBtn2">저장</button>
                <button type="submit" class="btn btn-primary" id="delBtn2">삭제</button>
<!--                <button type="submit" class="btn btn-primary" id="modiBtn2">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn2">조회</button>-->
              </div>
              <br>


<!-----------------MAPLE : List END ----------------->
</br>

<!-----------------MAPLE : Detail START ----------------->
<!--  MAPLE:  TITLE  -->
              <h2 class="section-heading mb-4">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary" > 직원정보 입력 및 수정 </span>
              </h2>

<!--  MAPLE:  INPUT  -->
              <section class="content">
                <div class="row">
                <!-- left column -->
                  <div class="col-md-12">
                  <!-- general form elements -->
                    <div class="box box-primary">
                    <!-- /.box-header -->

                      <form id="regForm"  method="post" action="" >
                      {% csrf_token %}

                        <div class="box-body">
                          <div class="form-group">
                            <label for="exampleInputEmail1"> ✔ ID </label>
                              <input type="text"  name="staffid" readonly
                                id='staffid' class="form-control" placeholder="">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1"> ✔ 이름 </label>
                              <input type="text"  name="staffname" readonly
                                id='staffname' class="form-control" placeholder="">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1"> ✔ 직급 </label>
                              <input type="text"   name="jobtitle" readonly
                                id='jobtitle' class="form-control" placeholder="">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1"> ✔ 입사일자 </label>
                              <input type="date"   name="startdate" readonly
                                id='startdate' class="form-control" placeholder="">
                          </div>

                           <div class="form-group">
                            <label for="exampleInputEmail1"> ✔ 전화번호 </label>
                              <input type="tel"  name="phone" readonly
                                id='phone' class="form-control" placeholder="010-0000-0000">
                            </div>

                          <!--   업데이트 구분 : ( Y: 수정 , N:신규        -->
                          <input type="hidden" name="updateYn" id="updateYn"  value="N">
                          <input type="hidden" name="id" id="id" value="">

                        </div>
                        <!-- /.box-body -->
                      </form>


                    </div>
                            <!-- /.box -->
                  </div>
                        <!--/.col (left) -->
                </div>
                    <!-- /.row -->
              </section>

<!--  MAPLE: BUTTON  3 -->
              <br>
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn3">입력</button>-->
                <button type="submit" class="btn btn-primary" id="modiBtn3">수정완료</button>
<!--                <button type="submit" class="btn btn-primary" id="delBtn3">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn3">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn3">저장</button>-->

              </div>
              <br>
<!-----------------MAPLE : Detail END ----------------->



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- *************************** MAPLE : 화면 END *****************************  -->

<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
{% include 'footer.html' %}
<!-- *************************** MAPLE : 공통 (FOOTER) END  ********************  -->

<!-- *************************** MAPLE : script *******************************  -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script>
  $(document).ready(function() {
    $('#saveBtn2').click(function(){
        $('#regForm').attr('action' , "{% url 'create_staff' %}").submit() ;
    })
    $('#modiBtn3').click(function(){
<!--        alert($('#staffid').val())-->
<!--        alert($('#id').val())-->
        $('#regForm').attr('action' , "{% url 'update_staff' %}").submit() ;
    })
    $('#delBtn2').click(function(){
        $('#regForm').attr('action' , "{% url 'delete_staff' %}").submit() ;
    })
    $('#inputBtn2').click(function(){
        $('#staffid').removeAttr('readonly')
        $('#staffname').removeAttr('readonly')
        $('#jobtitle').removeAttr('readonly')
        $('#startdate').removeAttr('readonly')
        $('#phone').removeAttr('readonly')
    })
    $('#staff_table tr').click(function() {
        var str = ""
        var tdArr = new Array()
        var tr = $(this)
        var td = tr.children()
<!--        alert(tr.text())-->
        td.each(function(i){
            tdArr.push(td.eq(i).text())
        })
<!--        alert(tdArr)-->
        $('#id').removeAttr('readonly').val(tdArr[0])
        $('#staffid').removeAttr('readonly').val(tdArr[1])
        $('#staffname').removeAttr('readonly').val(tdArr[2])
        $('#jobtitle').removeAttr('readonly').val(tdArr[3])
        $('#startdate').removeAttr('readonly').val(tdArr[4])
        $('#phone').removeAttr('readonly').val(tdArr[5])

    })

  })

  </script>
</body>

</html>
