
{% include 'header.html' %}

{% block content %}
<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Home Page</h3>
				</div>

				<div class="box-body">
					<form method="post"
					      action="{% url 'attachCsv' %}"
					      enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label>.csv 파일 업로드 해주세요.</label>
							<input type="file" class="form-control" name="csv_file">
						</div>
						<button type="submit" class="btn btn-info">업로드</button>
					</form>
				</div>
				<!-- /.box-header -->
			</div>
			<!-- /.box -->
		</div>
		<!--/.col (left) -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% include 'footer.html' %}

















